.baseBadge {
  color: #fff !important;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  padding: 0.5em;
  background-color: #e53945 !important;
}

.textDark {
  color: #333 !important;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4) !important;
}

.bgGray {
  background-color: #6c757e !important;
}

/* --- Custom Colors --- */
.bgNormal {
  background-color: #a8a77a !important;
}
.bgFire {
  background-color: #ee8130 !important;
}
.bgWater {
  background-color: #6390f0 !important;
}
.bgGrass {
  background-color: #7ac74c !important;
}
.bgElectric {
  background-color: #f7d02c !important;
}
.bgIce {
  background-color: #96d9d6 !important;
}
.bgFighting {
  background-color: #c22e28 !important;
}
.bgPoison {
  background-color: #a33ea1 !important;
}
.bgGround {
  background-color: #e2bf65 !important;
}
.bgFlying {
  background-color: #a98ff3 !important;
}
.bgPsychic {
  background-color: #f95587 !important;
}
.bgBug {
  background-color: #a6b91a !important;
}
.bgRock {
  background-color: #b6a136 !important;
}
.bgGhost {
  background-color: #735797 !important;
}
.bgDragon {
  background-color: #6f35fc !important;
}
.bgDark {
  background-color: #705746 !important;
}
.bgSteel {
  background-color: #b7b7ce !important;
}
.bgFairy {
  background-color: #d685ad !important;
}
